
 #menubar {
	
	position: relative;
	bottom: 100px;
	font-size: 200%;
	text-align: center;
	color: #96F4FF;
}

#menubar li {
	display: inline;
	padding: 10px;
}

#logo {
	position: relative;
	left: 400px;
}